body{
  background-color: #111;
  color: #fff;
}
*{
  padding: 10px;
}

.card {
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  color: #111;
  font-size: large;
}